* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --yellow-color: #dfb11c;
  --black-color: #0f0f0f;
  --white-color: #f3eaea;
  --gray-color: #b4a5a5;
}
html {
  font-size: 62.5%;
}

/* Nav */

nav ul {
  border-top: 0.3rem solid var(--yellow-color);
  list-style: none;
  background-color: var(--black-color);
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  justify-content: space-between;
}
nav ul li {
  flex: 1 0 auto;
}
.logo-div {
  margin-right: 5rem;
}
nav ul li a {
  display: block;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--yellow-color);
}
nav ul li a:hover {
  color: var(--white-color);
}
.logo {
  display: block;
  font-size: 4rem;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  background-color: var(--yellow-color);
  color: var(--black-color);
}
.nav-btn {
  border-radius: 0.1rem;
}
.nav-btn {
  display: none;
}
.bar1,
.bar2,
.bar3 {
  height: 0.2rem;
  width: 2rem;
  background-color: var(--black-color);
  margin: 0.2rem;
  transition: all 0.3s ease;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-1px, -2px);
}
@media (max-width: 576px) {
  nav ul {
    display: block;
    height: 7.88rem;
    overflow: hidden;
  }
  .nav-active {
    height: 35rem;
  }
  nav ul li a {
    text-align: center;
  }
  .logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow-color);
    margin: 0;
  }

  .nav-btn {
    display: block;
    margin-right: 2rem;
    cursor: pointer;
  }
}

/* End of Nav */

/* Banner */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/background-banner.jpg);
  min-height: 89vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-title {
  color: white;
  font-size: 5rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;

  padding-bottom: 0.4rem;
}
.banner-underline {
  height: 0.4rem;
  width: 25rem;
  background-color: var(--black-color);
}
.banner-btns {
  margin: 3rem;
}
.banner-btns a {
  font-size: 2.5rem;
  padding: 1.5rem;
  border: 0.2rem solid var(--yellow-color);
  color: var(--yellow-color);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.5rem;
}
.banner-btns a:hover {
  background-color: var(--yellow-color);
  color: var(--white-color);
}
/* End of banner */

/* skills */
.skills {
  padding: 5rem 0;
  background-color: var(--gray-color);
}
.skills-container {
  /* text-align: center; */
  margin: 0 auto;
  max-width: 95vw;
}
.skill {
  text-align: center;
  /* width: 75%; */
  margin: 3rem 0;
}
.skill i {
  font-size: 5rem;
  color: var(--black-color);
}
.skills-title {
  font-size: 4rem;
  font-weight: 900;
  margin: 2rem 0;
}
.class-text {
  font-size: 2rem;
  width: 75%;
  margin: auto;
}
@media (min-width: 700px) {
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
  }
}
@media (min-width: 1200px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* end of skills */
