* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --yellow-color: #dfb11c;
  --black-color: #0f0f0f;
  --white-color: #f3eaea;
  --gray-color: #cfc2c2;
  --light-gray-color: rgb(231, 225, 225);
}
html {
  font-size: 62.5%;
}

/* Nav */

nav ul {
  border-top: 0.3rem solid var(--yellow-color);
  list-style: none;
  background-color: var(--black-color);
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  justify-content: space-between;
}
nav ul li {
  flex: 1 0 auto;
}
.logo-div {
  margin-right: 5rem;
}
nav ul li a {
  display: block;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--yellow-color);
}
nav ul li a:hover {
  color: var(--white-color);
}
.logo {
  display: block;
  font-size: 4rem;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  background-color: var(--yellow-color);
  color: var(--black-color);
}
.nav-btn {
  border-radius: 0.1rem;
}
.nav-btn {
  display: none;
}
.bar1,
.bar2,
.bar3 {
  height: 0.2rem;
  width: 2rem;
  background-color: var(--black-color);
  margin: 0.2rem;
  transition: all 0.3s ease;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-1px, -2px);
}
@media (max-width: 576px) {
  nav ul {
    display: block;
    height: 7.88rem;
    overflow: hidden;
  }
  .nav-active {
    height: 35rem;
  }
  nav ul li a {
    text-align: center;
  }
  .logo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow-color);
    margin: 0;
  }

  .nav-btn {
    display: block;
    margin-right: 2rem;
    cursor: pointer;
  }
}

/* End of Nav */

/* Banner */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/background-banner.jpg);
  min-height: 89vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-title {
  color: white;
  font-size: 5rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;

  padding-bottom: 0.4rem;
}
.banner-underline {
  height: 0.4rem;
  width: 25rem;
  background-color: var(--black-color);
}
.banner-btns {
  margin: 3rem;
}
.banner-btns a {
  font-size: 2.5rem;
  padding: 1.5rem;
  border: 0.2rem solid var(--yellow-color);
  color: var(--yellow-color);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.5rem;
}
.banner-btns a:hover {
  background-color: var(--yellow-color);
  color: var(--white-color);
}
/* End of banner */

/* skills */
#skills {
  padding: 3rem 0;
  background-color: var(--gray-color);
}
.skills-container {
  /* max-width: 95vw; */
}
.skill {
  text-align: center;
  margin: 3rem 0;
}
.fas {
  font-size: 5rem;
  color: var(--black-color);
}
.skills-title {
  font-size: 3.5rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
  color: var(--yellow-color);
}
.class-text {
  font-size: 2rem;
  max-width: 75%;
  margin: 0 auto;
  color: var(--white-color);
}
@media (min-width: 700px) {
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
/* end of skills */
/* services */
#services {
  padding: 5rem 0;
  background: url(./images/services.jpeg) center fixed no-repeat;
  background-size: cover;
}

.services-header h1 {
  font-size: 7rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}
.services-header .underline {
  width: 27rem;
  border: 0.3rem solid var(--yellow-color);
  margin: 0 auto;
}
.services-container {
  margin: 5rem auto;
  max-width: 90vw;
}
.services-item {
  padding: 12rem 5rem;
  position: relative;
  overflow: hidden;
}
.services-item h1 {
  font-size: 3rem;
}
.front-side {
  text-align: center;
  transition: transform 0.3s;
}
.front-side i {
  font-size: 6rem;
  color: var(--yellow-color);
  margin-bottom: 5rem;
}
.black {
  color: var(--white-color);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.white {
  color: var(--black-color);
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}
.back-side {
  position: absolute;
  margin: 12rem 4rem;
  transition: transform 0.3s;
}
.back-side p {
  font-size: 2rem;
  margin: 3rem 0 4rem 0;
}
.back-side a {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--yellow-color);
  border: 0.2rem solid var(--yellow-color);
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}
.back-side a:hover {
  background-color: var(--yellow-color);
  color: var(--white-color);
}
.white .back-side a {
  color: var(--black-color);
  background-color: var(--yellow-color);
}
.white .back-side a:hover {
  background-color: var(--black-color);
  color: var(--yellow-color);
  border: 0.2rem solid var(--black-color);
}
.services-item:hover .front-side {
  transform: translateY(-190%);
}
.services-item:hover .back-side {
  transform: translateY(-150%);
}
@media (min-width: 900px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services-container .services-item:nth-of-type(1) {
    order: 1;
  }
  .services-container .services-item:nth-of-type(2) {
    order: 2;
  }
  .services-container .services-item:nth-of-type(3) {
    order: 4;
  }
  .services-container .services-item:nth-of-type(4) {
    order: 3;
  }
}
/* end of services */
/* projects */
#projects {
  padding: 5rem 0 6rem 0;
  background-color: var(--gray-color);
}
.projects-header {
  margin-bottom: 5rem;
}
.projects-title {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}
.projects-underline {
  width: 27rem;
  border: 0.3rem solid var(--yellow-color);
  margin: 0 auto;
}
.projects-container {
  margin: 0 auto;
  max-width: 90vw;
}
.projects-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  overflow: hidden;
}
.projects-item img {
  width: 100%;
  height: 100%;
  /* display: block; */
  transition: all 1s ease;
}
.projects-text {
  position: absolute;
  text-align: center;
  color: var(--white-color);
  opacity: 0;
  transition: all 1s ease;
}
.projects-text h1 {
  font-size: 3rem;
  font-weight: 900;
}
.projects-text h3 {
  font-size: 1.5rem;
}
.date {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: baseline;
  color: var(--yellow-color);
  font-weight: 900;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 1s ease;
}
.date i {
  font-size: 2.5rem;
  color: var(--yellow-color);
}
.projects-item:hover .projects-text {
  opacity: 1;
}
.projects-item:hover .date {
  opacity: 1;
}
.projects-item:hover img {
  opacity: 0.3;
  transform: scale(1.3);
}
@media (min-width: 700px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
@media (min-width: 1000px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }
}
/* end of projects */
/* contact */

#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/filler.jpeg) fixed center no-repeat;
  background-size: cover;
  padding: 5rem 0;
}
.contact-container {
  max-width: 90vw;
  margin: 0 auto;
}
.contact-container h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--white-color);
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.contact-container a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--yellow-color);
  border: 0.2rem solid var(--yellow-color);
  padding: 1rem;
  text-transform: uppercase;
}
.contact-container a:hover {
  background-color: var(--yellow-color);
  color: var(--black-color);
}
@media (min-width: 700px) {
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-container h1 {
    margin: 0;
  }
}
/* end of contact */

/* recent posts */
#posts {
  padding: 5rem 0;
  background-color: var(--gray-color);
}
.posts-title {
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
.posts-underline {
  width: 35rem;
  border: 0.3rem solid var(--yellow-color);
  margin: 0 auto;
}
.posts-container {
  max-width: 90vw;
  margin: 5rem auto;
}
.posts-item {
  /* position: relative; */
  margin: 2rem 0;
  background-color: var(--light-gray-color);
}
.posts-img {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.posts-img img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.posts-img i {
  position: absolute;
  color: var(--yellow-color);
  opacity: 0;
  transition: all 1s ease;
}
.posts-text {
  padding: 2rem;
}
.posts-text h1 {
  font-size: 2rem;
  margin: 2rem 0;
}
.posts-text p {
  font-size: 1.3rem;
  margin: 2rem 0;
}
.posts-text a {
  text-decoration: none;
  color: var(--yellow-color);
  font-size: 2rem;
  border: 0.2rem solid var(--yellow-color);
  padding: 0.4rem;
}
.posts-text a:hover {
  background-color: var(--yellow-color);
  color: var(--black-color);
}
.posts-img img:hover {
  opacity: 0.5;
}
.posts-img:hover i {
  opacity: 1;
}
@media (min-width: 600px) {
  .posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
@media (min-width: 900px) {
  .posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }
}
/* end of recent posts */
/* footer */
#footer {
  background-color: var(--black-color);
  padding: 3rem 0;
}
.footer-container {
  max-width: 90vw;
  margin: 0 auto;
  color: var(--white-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.footer-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.social-media {
  font-size: 3rem;
}
.social-media i {
  transition: transform 1s ease;
  margin: 0 0.5rem;
}
.social-media i:hover {
  color: var(--yellow-color);
  transform: translateY(-1rem);
}
